<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="setOrders()" [disabled]="!!(orders$ | async)">
        {{ 'stms.orders.get-orders' | translate }}
      </a>

      <st-table
          [data]="orders$"
          [displayedColumns]="displayedColumns"
          [selector]="favouriteOrdersSelector"
          (onClickingFavouriteButton)="addToFavourite($event)">
      </st-table>
    </div>
  </div>
</div>
